* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

html, body {
  overflow-x: hidden;
}

body {
  background-color: #383838;
  color: #EED6D3;
}

nav {
  width: 100%;
  height: 100%;
  z-index: 4;
  background: #EED6D3;
  display: none;
  top: 0;
  left: 0;
  position: fixed;
  transition: all 1s ease;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
nav ul li {
  list-style-type: none;
  font-size: 1.2em;
  display: flex;
}
nav ul li span {
  cursor: pointer;
  color: #383838;
  margin-left: 20px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li a:hover {
  text-decoration: none;
  color: black;
}

.btn_menu {
  display: block;
  position: fixed;
  right: 10%;
  top: 10%;
  width: 50px;
  height: 20px;
  cursor: pointer;
  z-index: 5;
}
.btn_menu .toggle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle, .toggle::before, .toggle::after {
  width: 100%;
  height: 2px;
  background: #EED6D3;
  display: block;
  position: absolute;
  transition: all 0.25s ease-in-out;
}

.toggle::before, .toggle::after {
  content: "";
}

.toggle::before {
  top: -10px;
}

.toggle::after {
  bottom: -10px;
}

.active-toggle {
  background: transparent;
}

.active-toggle::before {
  top: 0;
  transform: rotate(45deg);
  background-color: #383838;
}

.active-toggle::after {
  bottom: 0;
  transform: rotate(-40deg);
  background-color: #383838;
}

.openNav {
  display: block;
}

.link-animation::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #383838;
  transition: width 0.3s;
}

.link-animation:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.sub-menu {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 65%;
  background-color: #EED6D3;
  height: 20%;
}
.sub-menu li {
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.sub-menu li a {
  padding: 12px 16px;
  display: block;
  width: 100%;
}

[class*=reveal-] {
  opacity: 0;
  transform: translateY(-30px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s ease-in-out;
}

.reveal-1 {
  transition-delay: 2.5s;
}

.reveal-2 {
  transition-delay: 0.3s;
}

.reveal-3 {
  transition-delay: 2.5s;
}

.formErrors {
  color: red;
}

.formValide {
  color: green;
}

.intro {
  background-color: #383838;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.intro .intro-text {
  font-family: "Heebo", sans-serif;
  font-size: 3em;
}
.intro .intro-text .hide {
  background-color: #383838;
  overflow: hidden;
}
.intro .intro-text .hide span {
  transform: translateY(100%);
  display: inline-block;
  color: #EED6D3;
}

.slider {
  background-color: #EED6D3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  z-index: 3;
}

header {
  cursor: pointer;
  z-index: 2;
  width: 100%;
  height: 100%;
}
header .homeText {
  margin-top: 150px;
}
header .photoPro {
  max-width: 400px;
  height: 600px;
  position: relative;
  left: 5%;
  margin-top: 100px;
  border-radius: 0px 0px 150px 0px;
  background-color: #A4A4A4;
  border: 3px solid #949494;
  object-fit: cover;
}

.text-scroll {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.text-scroll h1 {
  font-size: 5em;
}

.line-1 {
  position: relative;
  white-space: nowrap;
  text-align: center;
}

.line-2 {
  position: relative;
  white-space: nowrap;
  text-align: center;
}

.img-portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
}
.img-portfolio .img1, .img-portfolio .img2, .img-portfolio .img3 {
  max-width: 100%;
  height: 600px;
  cursor: pointer;
  position: relative;
  border: 1px solid #EED6D3;
  object-fit: cover;
}
.img-portfolio .img1 {
  background-image: url(../img/me56.jpg);
}
.img-portfolio .img2 {
  background-image: url(../img/me.jpg);
}
.img-portfolio .img3 {
  background-image: url(../img/me77.jpg);
}

.birth-box {
  margin: -800px 0px 400px 10px;
  border: 3px #383838 solid;
  border-radius: 100px 100px 100px 100px;
  cursor: pointer;
  width: 100%;
}
.birth-box .birth {
  width: 100%;
  position: relative;
  right: 2%;
  transition: ease-in-out 1s;
}
.birth-box .birth h5 {
  width: 100%;
  text-align: center;
}
.birth-box .birth h5 a {
  color: #EED6D3;
}
.birth-box .birth h5 a:hover {
  text-decoration: none;
}
.birth-box .birth h5 .link-animation::after {
  background-color: #EED6D3;
}
.birth-box .birth .little-me-img {
  width: 100%;
  height: 550px;
  margin-bottom: 20px;
  border: 1px solid #EED6D3;
  padding: 10px;
  border-radius: 100px 100px 100px 100px;
  cursor: pointer;
  object-fit: cover;
}
.birth-box .birth .hover-img-effect {
  height: 550px;
  width: 100%;
  border-radius: 100px 100px 100px 100px;
  border: 1px solid #EED6D3;
  object-fit: cover;
  padding: 10px;
}
.birth-box .birth .break-img {
  border-radius: 50%;
  height: 550px;
  width: 100%;
  border: 1px solid #EED6D3;
  padding: 10px;
  object-fit: cover;
}
.birth-box .birth .back-img {
  margin: -500px 0px 0px 0px;
  width: 100%;
  height: 100%;
}
.birth-box .parcour {
  margin-top: 900px;
}

.skills-items, #scene {
  display: none;
}

.skills-text {
  position: relative;
  width: 80%;
  left: 10%;
  text-align: center;
  margin-top: -200px;
}

section {
  display: none;
}

.skills {
  margin-top: 150px;
  margin-bottom: 150px;
  flex-direction: column;
}

.skills h3 {
  margin-left: 20px;
}

.HTMLProgressBar, .CSSProgressBar, .JSProgressBar, .PHPProgressBar, .SQLProgressBar, .GITProgressBar {
  position: relative;
  width: 100%;
  height: 30px;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  float: center;
}

.myBarHTML, .myBarCSS, .myBarJS, .myBarPHP, .myBarSQL, .myBarGIT {
  position: absolute;
  background-color: #EED6D3;
  height: 100%;
  border-radius: 10px;
  transition: ease-in-out 2s;
}

.labelCode {
  margin-left: 20px;
  color: black;
  font-size: 1.2em;
}

/**********FORM SECTION***************/
#contact {
  width: 100%;
  height: 100vh;
}
#contact form {
  position: relative;
}

.forms {
  margin-bottom: 35px;
  color: black;
  cursor: pointer;
}
.forms input, .forms textarea {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 40px;
  border: transparent;
  border-bottom: 1px solid black;
}
.forms textarea {
  height: 300px;
}

.submitButton {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #383838;
  background-color: white;
}
.submitButton:hover {
  background-color: #EED6D3;
  border: 1px #EED6D3 solid;
  color: black;
}

/*********FORM ANIMATION**************/
.formLabel {
  position: absolute;
  margin-top: 20px;
  transform: translateY(-50%);
  transition: all 0.3s ease-out;
}

.forms:focus-within .formLabel,
.forms.activeInput .formLabel {
  margin-top: -20px;
  color: #EED6D3;
}

.infos-contact {
  text-align: center;
}
.infos-contact a {
  color: #EED6D3;
}
.infos-contact a:hover {
  text-decoration: none;
}
.infos-contact .link-animation::after {
  background-color: #EED6D3;
}

.social-networks {
  margin-top: 50px;
}
.social-networks ul {
  display: flex;
  justify-content: space-between;
}
.social-networks ul li {
  list-style-type: none;
  border: 1px #EED6D3 solid;
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
}
.social-networks ul li:hover {
  animation: networks-rotate 0.6s ease-in-out;
}
@keyframes networks-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.marquee {
  margin-bottom: 150px;
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}
.marquee .marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
}
.marquee span {
  font-size: 10vw;
  padding: 0 2vw;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
@media screen and (min-width: 1023px) {
  html, body {
    min-width: 1024;
    max-height: 100vh;
    background-color: aqua;
  }
  html body, body body {
    background-color: aqua;
  }

  .text-scroll h1 {
    font-size: 8em;
  }

  .img-portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1% 1%;
    margin-bottom: 400px;
  }
  .img-portfolio .img1, .img-portfolio .img2, .img-portfolio .img3 {
    width: 600px;
    height: 900px;
  }
  .img-portfolio .img1 {
    margin: 300px 0px 0px 200px;
    border-radius: 0px 0px 0px 200px;
  }
  .img-portfolio .img2 {
    border-radius: 0px 200px 0px 0px;
  }
  .img-portfolio .img3 {
    border-radius: 0px 0px 200px 0px;
    grid-column: 2/2;
    margin-top: -200px;
  }

  #autotext {
    letter-spacing: 0.5em;
    margin-top: -1500px;
    margin-left: 200px;
    width: 600px;
    color: #EED6D3;
  }

  .birth-box {
    margin: 600px 0px 400px 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .birth-box .birth {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding-right: 50px;
    padding-top: 50px;
  }
  .birth-box .birth:nth-child(3) {
    display: flex;
    flex-direction: row;
  }
  .birth-box .birth h5 {
    width: 40%;
  }
  .birth-box .birth .little-me-img {
    width: 45%;
  }
  .birth-box .birth .hover-img-effect {
    height: 800px;
    width: 45%;
  }
  .birth-box .birth .break-img {
    width: 500px;
  }
  .birth-box .birth .back-img {
    position: absolute;
    margin: 20px 800px 0px 0px;
    width: 1050px;
    height: 1050px;
  }

  .mobil-first-bar-prgress {
    display: none;
  }

  .skills-items {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }
  .skills-items li {
    margin-top: 50px;
  }

  #scene {
    position: relative;
    left: 50%;
    width: 500px;
    height: 500px;
    perspective: 600px;
  }
  #scene i {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #box-container {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
  }

  #box-front {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid #FFC0CB;
    transform: rotateX(0deg) translateZ(100px);
  }

  #box-back {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid #FFC0CB;
    transform: rotateY(180deg) translateZ(100px);
  }

  #box-left {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid #FFC0CB;
    transform: rotateY(-90deg) translateZ(100px);
  }

  #box-right {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid #FFC0CB;
    transform: rotateY(90deg) translateZ(100px);
  }

  #box-top {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid #FFC0CB;
    transform: rotateX(90deg) translateZ(100px);
  }

  #box-bottom {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid #FFC0CB;
    transform: rotateX(-90deg) translateZ(100px);
  }

  /**********FORM SECTION***************/
  #contact {
    display: flex;
    justify-content: space-around;
  }
  #contact form {
    margin-top: 0px;
    margin-left: 0px;
  }

  .forms input, .forms textarea {
    width: 80%;
  }

  .submitButton {
    width: 80%;
  }
}
@media screen and (min-width: 768px) and (max-height: 1024px) {
  .img-portfolio {
    margin-bottom: 2500px;
  }
  .img-portfolio .img1, .img-portfolio .img2, .img-portfolio .img3 {
    width: 600px;
    height: 900px;
    position: relative;
    left: 10%;
    margin-top: 50px;
  }
  .img-portfolio .img1 {
    border-radius: 0px 0px 0px 200px;
  }
  .img-portfolio .img2 {
    border-radius: 0px 200px 0px 0px;
  }
  .img-portfolio .img3 {
    border-radius: 0px 0px 200px 0px;
  }

  #autotext {
    margin-top: -2400px;
    margin-left: 100px;
  }

  .birth .hover-img-effect {
    height: 800px !important;
  }

  .mobil-first-bar-prgress {
    display: none;
  }

  .skills-items, #scene {
    display: block;
  }

  .skills-items {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }
  .skills-items li {
    margin-top: 50px;
  }

  #scene {
    position: relative;
    left: 50%;
    width: 500px;
    height: 500px;
    perspective: 600px;
  }
  #scene i {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #box-container {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
  }

  #box-front {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid #FFC0CB;
    transform: rotateX(0deg) translateZ(100px);
  }

  #box-back {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid #FFC0CB;
    transform: rotateY(180deg) translateZ(100px);
  }

  #box-left {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid #FFC0CB;
    transform: rotateY(-90deg) translateZ(100px);
  }

  #box-right {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid #FFC0CB;
    transform: rotateY(90deg) translateZ(100px);
  }

  #box-top {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid #FFC0CB;
    transform: rotateX(90deg) translateZ(100px);
  }

  #box-bottom {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid #FFC0CB;
    transform: rotateX(-90deg) translateZ(100px);
  }
}
.crud-text {
  margin-top: 100px;
  width: 100%;
  font-size: 1.3em;
}
.crud-text h4, .crud-text ol {
  text-align: center;
}

.crud-text2 {
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  margin-top: 100px;
}

form {
  width: 90%;
  position: relative;
  left: 5%;
  margin-bottom: 150px;
  margin-top: 150px;
}
form input {
  cursor: pointer;
}
form .btn {
  width: 100%;
  background-color: #EED6D3;
  border: 1px #949494 solid;
  color: black;
}
form .btn:hover {
  background-color: #949494;
  border: 1px solid #EED6D3;
  color: black;
}

.text-account {
  padding-top: 100px;
}
.text-account p {
  position: relative;
  top: 0%;
  width: 100%;
  text-align: center;
}

.cible-page {
  height: 100vh;
}
.cible-page h3 {
  position: relative;
  left: 0%;
  top: 50%;
  text-align: center;
}

/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
